*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}


/* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */

nav{
	box-sizing: border-box;
	position: fixed;
	top: 0;
	height: 10vh;
	width: 100%;
	display: flex;
	font-size: 1em;
	justify-content: center;
	z-index: 100;
	text-transform: uppercase;
	background: rgb(200, 70, 70);
}

.slide-bar{
	position: fixed;
	height: 10%;
	width: 15%;
	justify-content: center;
	align-items: center;
	display: none;
}

#hamburger{
	/* color: rgb(187, 53, 53); */
	color: #ffff;
}


ul{
	height: 100%;
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li{
	list-style: none;
	display: flex;
}

li a{
	text-decoration: none;
	color: #ffff;
}




/* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */ /* nav */

/* cover */ /* cover */ /* cover */ /* cover */ /* cover */ /* cover */ /* cover */ /* cover */ /* cover */ /* cover */ 


.cover{
	position: relative;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	color: rgb(187, 53, 53);
}

.cover .itxt{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
	font-size: 2em;
	opacity: 0;
	box-sizing: border-box;
	text-align: left;
	animation: play 4s ease-in-out 2.3s 1;

}

@keyframes play{
	0%{
		opacity: 0;
	}	
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.cover .itxt1{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
	font-size: 4em;
}

span{
	box-sizing: border-box;
	display: inline-block;
	opacity: 0;
	transition: all 1s ease;
}

.cover span.fade{
	opacity: 1;
}


.cover .cover-photo{
	width: 100%;
	height: 100vh;
	background-image: url(./imgs/background-1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;


	animation-name: animate;
	animation-direction: unset;
	animation-duration: 15s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	animation-iteration-count: infinite;
	animation-play-state: running;
	animation-delay: 8s;
}

@keyframes animate{
	0%{
		background-image: url(./imgs/background-1.jpg);
	}25%{
		background-image: url(./imgs/background-2.jpg);
	}50%{
		background-image: url(./imgs/background-3.jpg);
	}75%{
		background-image: url(./imgs/background-4.jpg);
	}
}


.arr{
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	transform: rotate(90deg);
	z-index: 10;
	animation: arrowAnimation 1s infinite ;
	animation-timing-function: ease-in-out;
	left: 49.1%;
}
.arr a{
	text-decoration: none;
	color: rgb(187, 53, 53);
}

@keyframes arrowAnimation{
	0%{top: 90vh;}
	50%{top: 92vh;}
	100%{top: 90vh;}
}


.csc{
	opacity: 0;
}

.csc #meet-us{
	text-align: center;
	height: 30vh;
	line-height: 40vh;
	text-transform: uppercase;
	font-size: 3em;
	color: rgb(187, 53, 53);
}


.meet-us{
	height: 70vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 50%);
	text-transform: uppercase;
}

.pos{
	height: 70vh;
	width: 100%;
	overflow: hidden;
}

.slides{
	position: relative;
	height: 640vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.description{
	overflow: hidden;
}
.desc{
	display: flex;
	text-transform: uppercase;
	height: 70vh;
	width: 400vw;
	color: rgb(187, 53, 53);
}

.slides img{
	height: 80vh;
}


.slide-butts{
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	height: 70vh;
	width: 10vw;
	margin-top: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
	
.slide-butts .butt{
	height: 5vh;
	width: 5vh;
	border-radius: 100%;
	background: rgb(187, 53, 53);
	opacity: 80%;
	z-index: 2;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.slide-butts .butt.active{
	transition: .5s;
	background: transparent	;
}

.inner-desc{
	height: 70vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner-desc h1{
	font-size: 2.6em;
}

.inner-desc h3{
	font-size: 1.5em;
}

@media (max-width: 576px){
	.inner-desc h3{
		font-size: 1.3em;
	}

	.inner-desc h1{
		font-size: 2em;
	}

	nav{
		position: fixed;	
		right: 0;
		justify-content: flex-end;
		/* width: auto; */
		/* height: 100%; */
		width: 15%;
		height: 10%;
		background: #bb3535;
	}

	ul{
		flex-direction: column;
		margin: 0 50px 0 50px;
		padding: 50px 0 100px 0;
		display: none;
	}

	
	.slide-bar{
		display: flex;
	}

	.csc #meet-us{
		height: 30vh;
		line-height: 30vh;
	}
}

